<% if comment.new_record? %>
<h3>Add a new comment</h3>
<% else %>
<h3>Edit comment</h3>
<% end %>

<%= form_for [post, comment], html: { class: "js-comment-form js-post-form"}, remote: true, authenticity_token: true do |f| %>

  <%= render "shared/errors", object: comment %>


  <div class="form-group">
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save" %>


    <% if defined? show_cancel  %>
        <%= link_to "Cancel", "#", class: "js-cancel-editing", data: { original_content: "#{render 'comment', post: post, comment: comment}", parent_container: "#comment-#{comment.id}" } %>
    <% end %>


  </div>




<% end %>
